  body, h1, h2, h3, p, ul, li, table {
    margin: 0;
    padding: 0;
  }
  #titulo-page1{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    color: #333;
  }
  #titulo-tipo-entrada, .titulo-crear-update, #titulo-avisomail, #titulo-crear-update{
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    color: #333;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  #root {
    display: flex;
    flex-direction:row;
    min-height: 100vh;
    min-width: 100vw;
  }
  #Aplicacion {
    width: 100vw;
  }
  
  .main {
    display: flex;
    width: 100vw;
    height: 100vh;
  }
  
  .contenedor {
    width: 10%;
    height: 100vh;
    background-color: #f0f0f0;
    padding: 20px;

  }
  
  #menu h2 {
    color: #333;
  }
  
  #menu ul {
    list-style-type: none;
    padding: 0;
  }
  
  #menu li {
    margin-bottom: 10px;
  }
  
  #menu a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
  }
  #menu a:hover {
    color: #0056b3;
  }
  .contenido {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    padding: 50px;
  }
  .contenido-crear-usuario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 93.8vh;
    background-color: #fff;
    padding: 50px;
  }
  #contenido-cat-entrada{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 93.8vh;
    background-color: #fff;
    padding: 25px;
  }
  #contenido-crear-editar-categoria{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 93.8vh;
    background-color: #fff;
    padding: 25px;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  #tabla {
    width: 60vw;
    margin: 20px auto;
    color: #333;

  }
  #tabla-tipo-entrada{
    width: 40%;
    margin: 20px auto;
    color: #333;
    overflow-y: auto;
    height: 70%;
  }
  #tabla-cat-entrada{
    width: 400px;
    margin: 20px auto;
    color: #333;
    overflow-x: auto;
    height: 0%;
  }
  #tabla-supervisor{
    width: 60vw;
    margin: 20px auto;
    color: #333;
  }
  #tabla-avisomail{
    width: 45%;
    margin: 20px auto;
    color: #333;
    overflow-y: auto;
    height: 0%;
  }
  #tabla-parametro{
     width: 60%;
    margin: 20px auto;
    color: #333;
    overflow-y: auto;
    height: 80%;
  }

  .form-new-update-user {
    width: 50vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  .form-new-update-categoria{
    width: 50vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
  }
  .input-new-update-cat{
    width: 40%;
    height: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    color: #333;
    font-size: large;
  }
  
  .input-new-update-user{
    width: 40%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #f0f0f0;
    color: #333;
  }
  
  button {
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-left: 12px;
  }

  label{
    font-weight: bold;
    font-size: 20px;
    color: #333;
  }
  
  button a {
    text-decoration: none;
    color: #fff;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  thead{
    background-color: #007bff;
    color: #fff;
    border: 2px solid;
  }
  th, td {
    border: 1px none #ddd;
    padding: 8px;
    text-align: left;
  }
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  





